container_commands:
  01_schema_migrate:
    command: npx sequelize db:migrate
    leader_only: true
  02_seed_migrate:
    command: npx sequelize db:seed --seed 20240411005617-add-period-to-file
    leader_only
  03_seed_migrate:
    command: npx sequelize db:seed --seed 20240411021932-add-week_select-to-teacher
    leader_only
  04_seed_migrate:
    command: npx sequelize db:seed --seed 20240411112233-add-course_period-to-teacher
    leader_only
    
        