container_commands:
    01database_delete:
        leader_only: true
        command: "npx sequelize db:migrate:undo:all"
    02database_migrate:
        leader_only: true
        command: "npx sequelize db:migrate"
    03database_seed:
        leader_only: true
        command: "npx sequelize db:seed:all"